#┌─┐┬─┐┌─┐┌┬┐┌─┐┌┬┐
#├─┘├┬┘│ ││││├─┘ │ 
#┴  ┴└─└─┘┴ ┴┴   ┴ 
eval "$(starship init $(ps -p $$ -o ucomm=))"

#┌─┐┬ ┬┌┐┌┌─┐┌┬┐┬┌─┐┌┐┌┌─┐
#├┤ │ │││││   │ ││ ││││└─┐
#└  └─┘┘└┘└─┘ ┴ ┴└─┘┘└┘└─┘
function cheat() { curl "http://cheat.sh/$1"; }

function col {
  awk -v col=$1 '{print $col}'
}

function histgrep() {
  if [[ $# -gt 0 ]]; then
      history | tac | sort -k2 -u | sort | grep "$@"
  else
      history 50
  fi
}

function findext() {
  CMD='find -type f'
  for E in $@
  do
    CMD=$CMD" -iname \"*.$E\" -or"
  done
  echo $CMD | sed -e 's# -or$##' | bash
}

function google() {
  words="$(IFS="+"; echo "${${@:1}[*]}")"
  if [ "$words" != "" ]; then
    open "https://google.com/search?q=$words"
  fi
}

#┌─┐┬  ┬┌─┐┌─┐┌─┐┌─┐
#├─┤│  │├─┤└─┐├┤ └─┐
#┴ ┴┴─┘┴┴ ┴└─┘└─┘└─┘
alias setls='cat << eof | xargs -n 1 $1'
alias grepls='cat << eof | xargs -I {} -n 1 grep {} $1'
alias less='bat'
alias late='less $(echo `ls -t | head -n 1`)'
alias cat='bat --paging=never'
alias diff='delta -s'
alias ls="eza --icons --git"
alias la="eza -a --icons --git"
alias ll="eza -aahl --icons --git"
alias lt="eza -T -L 3 -a -I 'node_modules|.git|.cache' --icons"
alias lta="eza -T -a -I 'node_modules|.git|.cache' --color=always --icons | less -r"
alias vc='code' # gui code editor
PCLRCOLS=(red green blue yellow pink)
alias clear='paclear -s 5 -c ${PCLRCOLS[$((RANDOM%5 + 1))]}'


{{ if eq .chezmoi.os "linux" }}

alias open='xdg-open'

    {{ if eq .chezmoi.osRelease.id "archarm" }}

alias avnc='am start --user 0 -n com.gaurav.avnc/com.gaurav.avnc.StartupActivity && vncserver :1 &'
alias termux-gui='export DISPLAY=:0 && PULSE_SERVER=tcp:127.0.0.1 && dbus-launch --exit-with-session bspwm &'

    {{ end }}
{{ end }}

#┌─┐┌─┐┌┬┐┬ ┬
#├─┘├─┤ │ ├─┤
#┴  ┴ ┴ ┴ ┴ ┴
export PATH="$PATH:$HOME/bin"
export PATH="$PATH:$HOME/go/bin"
export PATH="$PATH:$HOME/.local/bin"

{{ if eq .chezmoi.os "darwin" }}

# Copy from Caveats of 'brew (re)install python3'.
export PATH="$PATH:/usr/local/bin/python3"
# installed by pip3
export PATH="$PATH:/usr/local/opt/python@3.12/libexec/bin"

{{ end }}

#┬─┐┬ ┬┌┐┌  ┌─┐┌─┐┌┬┐┌┬┐┌─┐┌┐┌┌┬┐
#├┬┘│ ││││  │  │ │││││││├─┤│││ ││
#┴└─└─┘┘└┘  └─┘└─┘┴ ┴┴ ┴┴ ┴┘└┘─┴┘
TMOUT=900
TRAPALRM() {
MODELS=($(ls -d $HOME/Documents/models/*))
SEC=`date +%S`
I=$((SEC%$(echo ${#MODELS[@]})+1))
3d-ascii-viewer -z 120 ${MODELS[$I]}
}
