#!{{ lookPath "bash" }}

{{ if eq .chezmoi.os "darwin" }}

pipx install pywal
pipx ensurepath

cd && git clone https://github.com/Nellousan/px2ansi.git
cd px2ansi
pipx install .

{{ end }}

{{ if eq .chezmoi.os "linux" }}

# Setup Nvidia if found
if lspci -k | grep -A 2 -E "(VGA|3D)" | grep -iq nvidia ; then
    yay -S --noconfirm --needed libva libva-nvidia-driver-git linux-headers nvidia-dkms nvidia-settings
    sudo sed -i 's/MODULES=()/MODULES=(nvidia nvidia_modeset nvidia_uvm nvidia_drm)/' /etc/mkinitcpio.conf
    sudo mkinitcpio --config /etc/mkinitcpio.conf --generate /boot/initramfs-custom.img
    echo -e "options nvidia-drm modeset=1" | sudo tee -a /etc/modprobe.d/nvidia.conf
    echo -e "WLR_NO_HARDWARE_CURSORS=1" | sudo tee -a /etc/environment
fi

# Install MBP audio driver if CS8409 found
if lsmod | grep cs8409 >/dev/null ; then
    cd && git clone https://github.com/davidjo/snd_hda_macbookpro.git
    cd snd_hda_macbookpro/ && sudo ./install.cirrus.driver.sh
fi

cd && mkdir powershell && cd powershell
wget $PWSH && tar xvzf $(basename $(echo $PWSH))
sudo ln -s $HOME/powershell/pwsh /usr/bin/pwsh

cd && go install github.com/orangekame3/paclear@latest && mv ~/go/bin/paclear ~/bin/

{{ end }}

cd && git clone http://github.com/possatti/pokemonsay && cd pokemonsay
./install.sh

cd && wget $TVERREC && tar xvzf $(basename $(echo $TVERREC)) && rm $(basename $(echo $TVERREC))
cd $HOME/TVerRec*/conf/ && cp system_setting.ps1 user_setting.ps1
mv $HOME/src/keyword.conf keyword.conf

cd && wget https://github.com/autopawn/3d-ascii-viewer/archive/refs/tags/v1.4.0.tar.gz
tar xvzf v1.4.0.tar.gz && cd 3d-ascii-viewer*
make
find ./models -name "*.mtl" -type f | xargs rm
mv 3d-ascii-viewer $HOME/bin/. && mv models/ $HOME/Documents/. 
cd && rm -rf 3d-ascii-viewer* v1.4.0.tar.gz
